<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-sm-center">Tsabal</h1>
      <p>Tsabal es un proyecto de creación y visualización de mallas tridimensionales en WebGL. El uso principal está asociado a la generación de mallas
      para el programa Malledi y PLUSH, sin embargo, tiene la flexibilidad necesario para ser utilizado en otras cosas.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <ngb-tabset>

        <ngb-tab title="Create">
          <template ngbTabContent>
            <tsabal-create></tsabal-create>
          </template>
        </ngb-tab>

        <ngb-tab title="Learn">
          <template ngbTabContent>
            <tsabal-learn></tsabal-learn>
          </template>
        </ngb-tab>

        <ngb-tab title="About">
          <template ngbTabContent>
            <tsabal-about></tsabal-about>
          </template>
        </ngb-tab>

      </ngb-tabset>

    </div>
  </div>
</div>
